// color
$mainColor: #ed5b46;
$subColor: #f7dfe3;
$backgroundColor: #f7f7f7;
$grayColor: #f7f7f7;

// textcolor
$mainTextColor: #606060;
$WhiteTextColor: #ffffff;

// bottomNav

$bottomNavIcon: #aaaaaa;
