/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import "./color.scss";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #606060;
}

input {
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #606060;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote {
  &:before,
  &:after {
    content: "";
    content: none;
  }
}

q {
  &:before,
  &:after {
    content: "";
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
#root {
  width: 100%;
  height: 100vh;
}
.container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 70px 0px;
}
.content_wrap {
  width: 100%;
  height: 100%;
  background: #fff;
  overflow-y: scroll;
}

.common_container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#feac97, #f68671, #ed5b46);
  &.bg_deco {
    &:before {
      position: absolute;
      top: 72px;
      left: 0;
      content: "";
      display: block;
      width: 100%;
      height: 60%;
      border-radius: 50%;
      background-color: rgba(225, 225, 255, 0.3);
      z-index: 1;
    }
    .form_card {
      padding: 116px 24px 100px;
    }
  }
}

.form_card {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 80px 24px;
  z-index: 2;
}
.form_container {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.1);
  justify-items: center;
}
.form_item_wrapper {
  box-sizing: border-box;
  padding: 260px 30px 0;
  width: 100%;
  height: 100%;
  background-image: url(./img/foodTruck.png);
  background-repeat: no-repeat;
  background-position: center 80px;
  background-size: 83px 83px;
  text-align: center;
  &.is_error {
    .form_textbox_ty1 {
      border: 1px solid #ed5b46;
    }
    .error_text {
      display: block;
    }
  }
}
.form_direction {
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 16px;
}
.form_textbox_ty1 {
  box-sizing: border-box;
  width: 100%;
  height: 46px;
  font-size: 16px;
  line-height: 26px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #bce0fd;
}
.error_text {
  margin-top: 12px;
  display: none;
  font-size: 14px;
  color: #ed5b46;
}
