@import '../../theme/color.scss';

#mainMap {
  display: flex;
  flex: 1;
  background: $subColor;
  > div {
  }
  // #navHeaderLeft {
  // }
  // #navHeaderTitle {
  // }
  // #navHeaderRight {
  // }
}
