@import '../../assets/style/color.scss';

#headerNav,
#bottomNav {
  position: absolute;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 16px;
  background: $mainColor;
  color: $WhiteTextColor;
}
#headerNav {
  top: 0;
  justify-content: space-between;
}
#bottomNav {
  bottom: 0;
  justify-content: space-around;
  > div a {
    color: $WhiteTextColor;
    opacity: 0.5;
    font-size: 18px;
  }
}
#headerNavLeft,
#headerNavRight {
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}
